form {
    font-family: 'Nunito';
    color: colorTwo; 
}

.form-space {
    margin-bottom: 20px;
    max-width: 100%;
}

#message-box { 
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
    resize: none;
}

#name {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: block;
    border-radius: 2px;
    padding: 10px;
}

#email {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: block;
    border-radius: 2px;
    padding: 10px;
}

#send-button {
    font-size: 100%;
    font-family: inherit;
    padding: 15px;
    border-radius: 1px;
    background: $colorFive;
    color: $colorThree;
    margin: 20px 0 50px 0;
}

@media (min-width: 960px) {
    form {
        display: block;
        width: 50%;
    }
}